# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/
*.egg-info/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.local-browsers

# Logs & Temp
*.log
*.tmp
temp/
report.pdf
report.json
report.csv
report.txt

# IDEs
.vscode/
.idea/
.DS_Store

# Static
static/projects.json_tmp
